<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Register</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"></meta>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    
		<!-- generic -->
	    <link href="/css/style-generic.css" rel="stylesheet" media="screen"/>
	    <script type="text/javascript" src="/js/generic.js"></script>
	    
		<!-- bootstrap -->
	   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
		<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
		<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
		<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.1/css/bootstrap-datetimepicker.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.1/css/bootstrap-datetimepicker.min.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.1/js/bootstrap-datetimepicker.min.js"></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/css/bootstrapValidator.css" rel="stylesheet"></link>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
		
	
        <script type="text/javascript" src="js/estudianteForm.js"></script>
        
    </head>
    <body>
    	 <div th:replace="include/top :: top"></div>
    	 
    	 <div th:replace="include/mensajes :: mensajes"></div>
    	
        <div id="container" class="container">  
            
            <div class="row" style="margin-top:20px;" >
      
            	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-8 col-sm-offset-8 col-md-offset-8 col-lg-offset-8" style="text-align:right;">
					<a href="javascript:history.back()" class="btn btn-default" > Volver Atrás</a>           	
				</div>
			
			</div>	
				
            <div id="cuerpo" class="row" style="margin-top:20px">
            	
            	<div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
           			 <div class="panel panel-default">
                		<div class="panel-heading" style="background-color:#337ab7;border-color: #2e6da4;">
								
							<div  th:if="${modelo.estudiante.id != null}">	
								<h1 class="text-center" style="color:white;">Editar Estudiante</h1>
							</div>
							<div th:unless="${modelo.estudiante.id != null}">	
								<h1 class="text-center" style="color:white;">Nuevo estudiante</h1>
							</div>

                     	</div>
		                <div class="panel-body">
		                    <form id="estudianteForm" name="estudianteForm" th:action="@{${modelo.url}}" method="post">
				                <fieldset>                    
				
				                  
									<input type="hidden" name="id" id="id" th:value="${modelo.estudiante.id}" />
									
				                    <div class="form-group">
		         						<label for="username" class="control-label "><font face="Verdana">Usuario</font></label>
				                        <input type="text" name="username" id="username" class="form-control" th:value="${modelo.estudiante.username}" th:readonly="(${modelo.estudiante.username} != null)" required="required"/>
				                    </div>
				                    <div class="form-group">
				                    	<label for="password" class="control-label "><font face="Verdana">Clave</font></label>
				                        <input type="password" name="password" id="password" class="form-control" th:value="${modelo.estudiante.password}" required="required"/>
				                    </div>
				                     <div class="form-group">
				                    	<label for="nombre" class="control-label "><font face="Verdana">Nombre</font></label>
				                        <input type="text" name="nombre" id="nombre" class="form-control"  th:value="${modelo.estudiante.nombre}" required="required"/>
				                    </div>
				                     <div class="form-group">
				                    	<label for="apellido" class="control-label "><font face="Verdana">Apellido</font></label>
				                        <input type="text" name="apellido" id="apellido" class="form-control"  th:value="${modelo.estudiante.apellido}" required="required"/>
				                    </div>
				                    <div class="form-group">
				                    	<label for="documento" class="control-label "><font face="Verdana">Nro. documento </font></label>
				                        <input type="number" name="documento" id="documento" max="999999999" class="form-control" th:value="${modelo.estudiante.documento}"  required="required"/>
				                    </div>
				                     <div class="form-group">
				                    	<label for="direccion" class="control-label "><font face="Verdana">Direccion</font></label>
				                        <input type="text" name="direccion" id="direccion" class="form-control"  th:value="${modelo.estudiante.direccion}" required="required"/>
				                    </div>
				                     <div class="form-group">
				                    	<label for="fecha" class="control-label "><font face="Verdana">fecha Nacimiento</font></label>
				                        <input type="text" name="fecha" id="fecha" class="form-control" th:value="${modelo.estudiante.fecha != null}? ${#dates.format(modelo.estudiante.fecha,'dd/MM/yyyy')}" placeholder="dd:MM:yyyy" required="required"/>
				                    </div>
				                     <div class="form-group">
				                    	<label for="mail" class="control-label "><font face="Verdana">E-mail</font></label>
				                        <input type="text" name="mail" id="mail" class="form-control"  th:value="${modelo.estudiante.mail}" required="required"/>
				                    </div>
				                     <div class="form-group">
				                    	<label for="telefono" class="control-label "><font face="Verdana">Telefono</font></label>
				                        <input type="number" name="telefono" id="telefono" class="form-control" th:value="${modelo.estudiante.telefono}" required="required"/>
				                    </div>
				                    
				                    <div class="form-group">
				                    	<label for="materia" class="control-label "><font face="Verdana">Carrera</font></label>
				                        <select  id="carrera" name="carrera" class="form-control" required="required">
											<option value="">Seleccione Carrera</option>
											
											<option th:each="carrera : ${modelo.carreras}" th:if="${carrera.activo}" th:selected="(${modelo.carrera.id} == *{carrera.id})" class="opcion" th:value="${carrera.id}" th:text="${carrera.nombre}"></option>
												
									
										</select>
				                    </div>
				
				                    <div class="form-group">
				                        <div class="col-lg-offset-2 col-lg-10">
				                        	<a href="javascript:void(0);" onclick="history.back(-1)" class="btn btn-danger">Cancelar</a>
				                            <input type="submit" class="btn btn-success" value="Guardar"/>
				                        </div>
				                       
				                    </div>
				                </fieldset>
		            		</form>
		                </div>
           
            </div>
        </div>
               
                        
                       
               
                
            </div>
      
        </div>
        
    </body>
</html>